#background-image{
    width: 100%;
    height: auto;
    opacity: 0.25;
    position: absolute;
    z-index: -1;
}
.feedback-cointaner{
    position: fixed;
    top:10%;
    left:40%;
    z-index:2;
    /* visibility:visible; */
    visibility : hidden ; 
}
.main{
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 2%;
    z-index: 2;
    padding-bottom: 3%;
    padding-top: 3%;
}

.title{
    text-align: center;
    margin-top: 1.5rem;
    
}

.card-bottom{
    margin-bottom: 1rem;
}

.card{
    cursor: pointer;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 10px rgb(230, 27, 16);
}