.footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color:lightgreen;
    color:white;
    position: sticky;
    bottom:0px;
    width:100vw;
}
.footer div{
    text-shadow: 1.5px 1px 5px yellow ;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 3vh;
}
.footer div:hover{
    text-shadow: 1.5px 1px 5px red ;
}