/* body{
    background-image: url("../Photos/Background.jpg");
    background-repeat: no-repeat;
    background-position: 60% 0;
    background-size: cover;
    
} */
/* .conntent{
    min-height: 60vh;
} */
body{
    overflow: hidden;
}
.background{
    opacity:0.2;
    width: 100vw;
    position:absolute;
    z-index: -1;
    padding-top: 5vh;
   
}
.form1{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vh;
}
.details{
    margin-top: 5vh;
}
.labels{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vw;
    margin-right: 4vw;
}
#name,#password{
    width:30vw;
    height: 5vh;
    border-radius: 10px;
}
.reset{
    width:15vw;
}
/*
.submit{
    width: 20vw;
    height: 6vh;
    color:white;
    background-color: rgba(0, 128, 0, 0.71);
    border: 2px solid rgba(0, 128, 0, 0.942);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
    margin-left: 2vw;
}
.reset{
    width: 10vw;
    height: 6vh;
    color:white;
    background-color: rgba(255, 0, 0, 0.71);
    border: 2px solid rgba(255, 0, 0, 0.942);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    border-radius: 10px;
}
.submit:hover{
    background-color: rgba(0, 128, 0, 0.8);
    background-color:white; 
    color: green;
    border:2px solid green;
    cursor: pointer;
    transform: translate(1px,1px);
    
}
.reset:hover{
    background-color:rgba(255, 0, 0, 0.8);
    border:2px solid red;
    color: red;
    cursor:pointer;
    transform: translate(1px,1px);
}
*/
.signup{
    margin-top: 4vh;
    text-align: center;
    font-size: larger;
} 
.popup{
    /* z-index : 222 ;  */
    position: absolute;
    top:0px;
    left:50%;
    background-color: white;
    border:2px solid red;
    transform: translate(-15vw) scale(0.1);
    width:30vw;
    height:12vh;
    display:flex;
    flex-direction: column;
    align-items: center;
 
    justify-content: center;
    visibility:hidden;
    transition: transform 0.3s ;
}
.popup img{
    height:6vh;
    margin-top: 1vh;
}
.popup p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
  
}
.popup button{
    width:10vw;
    height:6vh;
    /* padding:5px; */
    border-radius: 25px;
    background-color: red;
    color:white;
    font-weight: bold;
    
}
.openpopup{
    transform:translate(-10vw,4vh) scale(1);
    visibility:visible;
}