*{
    font-family: 'Times New Roman', Times, serif;
}
.form1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin: 5vh 20vw 5vh 20vw;
    padding-left: 10vw;
}
.inputs{
    margin-top: 3.5vh;
    display: flex;
}
.labels{
    width: 20vw;
    height:3vh;
    font-size: 3.5vh;
}
.label{
    font-family: 'Times New Roman', Times, serif;
    font-size:3.5vh;
    margin-left: 2vw;
    margin-right: 2vw;

}
.register{
    margin-top: 3.5vh;
    margin-left: 5vw;
    width:10vw;
   
}
.reset{
    margin-top: 3.5vh;
    margin-left: 5vw;
    width:10vw;
   
}
#driver,#passenger{
    width: 1.5vw;
}
.field{
    height: 4.5vh;
    width:20vw;
    border-radius: 10px;
    border: 1px solid black;

}
.field:focus{
    border:2px solid green;
}
.field:hover{
    border:1px solid lightgreen;
}
.type{
    accent-color: green ;
}


.otpbody{
    border: 5px outset black;
    visibility:hidden;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-10vw,-10vh);
}
.title{
    background-color: blue;
    color:white;
    font-family: 'Times New Roman', Times, serif;
}
.otp div{
    margin-top: 2vh;
}
.buttons{
    display: flex;
    justify-content: space-around;
    /* flex-direction: row; */
}